$breakpoints: (
  "phone": 600px, // 320
  "tablet": 1000px, // 768
  "tablet-big": 1270px, // 768
  "desktop": 1750px, // 1366
);

@mixin mq($width, $widthMax: false) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if ($widthMax !=  false) {
      $widthMax: map_get($breakpoints, $widthMax);

      @media only screen and (max-width: $width) and (min-width: $widthMax + 1) {
        @content;
      }
    }

    @else {
      @media only screen and (max-width: $width) {
        @content;
      }
    }
  }
}

$z-indexes: (
  "modal",
  "header",
  "footer"
);

@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  }

  @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}

// Расчитываем процент ребенка относительно родителя
@function p($parent,$child) {
  @return ($child * 100%) / $parent;
}

@function vw($parent,$child) {
  @return ($child * 100vw) / $parent;
}

@function vh($parent,$child) {
  @return ($child * 100vh) / $parent;
}

@function vh_min_max($min, $max, $minScreen, $maxScreen) {
  @return calc( #{$min}px + #{$max - $min} * (100vh - #{$minScreen}px) / #{$maxScreen - $minScreen});
}

// Character Spacing
@function chs($target) {
  @return ($target / 1000) * 1em;
}

// Colors
$grey1: #333;
$gray3: #828282;
$grey6: #f2f2f2;
$grey7: #d7d7d7;
$grey8: #bdbdbd;
$grey9: #979797;

$blue2: #2d9cdb;
$blue3: #56ccf2;
$blue4: #80defc;
